.statCard {
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1rem 0;
  color: black;
}

.statCard h1 {
  margin: 0 0 0.5rem 0;
  text-align: left;
}

.statCard h3 {
  margin: 0;
  font-weight: 400;
}
