.circleHalfStrokeImgDark {
  height: 1rem;
  width: 1rem;
  filter: invert();
}

.circleHalfStrokeImgLight {
  height: 1rem;
  width: 1rem;
}

.switchThemeButtonDark {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switchThemeButtonLight {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
