:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 0 1rem;
  min-height: 100vh;
}

.appLight {
  padding: 0 1rem;
  min-height: 100vh;
  color: black;
  background-color: white;
}

.backgroundPurple {
  background-color: #e599f7;
}

.backgroundYellow {
  background-color: #fab005;
}

.backgroundRed {
  background-color: #ff7256;
}
